.nft-form {
    border : 2px solid black;
    width : 50%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    padding: 10px;
    margin : 0;
}

.key {
    padding : 5px;
    padding-right: 20px;
}
.value {
    padding : 5px;
    padding-left : 10px;
}

.box {
    padding : 10px;
    display: flex;
    align-items: center;
}

/* CSS */
 #mint-button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 250px;
  min-width: 140px;
  padding: 10px 15px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin : 10px auto;
}

#mint-button:active,
#mint-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #mint-button {
    font-size: 24px;
    min-width: 196px;
  }
}
